.header {
  display: flex;
  justify-content: space-between; /* ロゴとナビゲーションセクションを画面の両端に配置 */
  align-items: center;
  padding: 10px 20px;
}

.logoLink {
  display: flex;
  align-items: center;
}

.navSection {
  display: flex;
  align-items: center;
  gap: 70px; /* リンク間のスペースを設定 */
}

.navLink {
  text-decoration: none;
  color: black;
}

.navLink:last-child {
  margin-right: 70px; /* 最後のナビゲーションリンクの右のマージンを除去 */
}

.navLink:hover {
  text-decoration: underline;
}
